@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  @font-face {
    font-family: 'Satoshi';
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Satoshi-Black.woff') format('woff'),
      url('./fonts/Satoshi-Black.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-Medium.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-SemiBold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-Bold.ttf') format('ttf');
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold pt-1 pb-2 px-4 rounded;
  }
}

@layer utilities {
  .scrl-snap-none {
    scroll-snap-type: none;
  }
  .scrl-snap-x {
    scroll-snap-type: x;
  }
  .scrl-snap-y {
    scroll-snap-type: y;
  }
}